body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}

header a {
    text-decoration: none;
    color: #333;
    transition: all 0.2s ease; /* Add transition for smooth hover effect */
  }
  header a:hover {
    color: #007bff; 
    transform: scale(1.05); /* Slightly increase size on hover */
  }