{% extends "layout.html" %}

{% block title %}Gallery{% endblock %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="../static/styles/gallery.css">
{% endblock %}

{% block content %}
    <h2>{{ image_collection_name }}</h2>
    <h2>{{ address }}</h2>
    <form action="/download_lsatimg_info" method="GET">
        <button id="download_lsatimg_info_btn" type="submit">Download Imagery Metadata</button>
    </form>
    <form action="/download_lsatimg_images" method="GET">
        <button id="download_lsatimg_info_btn" type="submit">Download Images</button>
    </form>
    <div class="gallery">
        {% for combination_name, url in lsatimg_urls.items() %}
            <div>
                <h3>{{ combination_name }}</h3>
                <a href="{{ url }}" target="_blank">
                    <img src="{{ url }}" alt="{{ combination_name }} Image" />
                </a>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
