{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block extra_stylesheets %}
    <link rel="stylesheet" href="../static/styles/search_form.css">
{% endblock %}

{% block content %}
    <form action="/get_landsat_img" method="GET">
        <label for="address">Enter an address:</label>
        <input type="text" id="address" name="address" placeholder='e.g. "New York, NY" or "Stonehenge"' required>
        <p>Select the image layers to render:</p>
        
        <!-- Select All Button with the same class as the submit button -->
        <button type="toggle-all" id="toggle-all" class="checkbox" onclick="toggleAllCheckboxes()">Select All</button>

        <div class="checkbox-group">
            {% for band_combination_option in band_combinations.keys() %}
                <label class="checkbox-label">
                    <input type="checkbox" id="band_combination_option_{{ band_combination_option }}" name="band_combination_option" value="{{ band_combination_option }}">
                    <span>{{ band_combination_option }}</span>
                </label>
            {% endfor %}
        </div>
        
        <button type="submit" class="button-style">Render Land Satellite Images</button>
    </form>

    <script>
        function toggleAllCheckboxes() {
          const checkboxes = document.querySelectorAll('.checkbox-group input[type="checkbox"]');
          const toggleButton = document.getElementById('toggle-all');
          
          // Check if all checkboxes are currently checked
          const allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
          
          // Toggle checkboxes based on current state
          checkboxes.forEach(checkbox => {
            checkbox.checked = !allChecked;
          });
          
          // Update button text
          toggleButton.textContent = allChecked ? 'Select All' : 'Deselect All';
        }
    </script>
{% endblock %}
