<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}}Landsat Image Lookup - {% endblock %}</title>
    <link rel="stylesheet" href="../static/styles/layout.css">
    {% block extra_stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <h1>Land Satellite Image Lookup</h1>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
