<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Landsat Image Lookup - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles/layout.css">
    {% block extra_stylesheets %}{% endblock %}
</head>
<body>
    <header>
        <a href="/">
            <h1>Land Satellite Image Lookup</h1>
        </a>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>